@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0b0e15;
  --foreground: #171717;
  --primary-button: #009da2;
  --hover-text-color: #00d4db;
  --secondary-text-color: #009da2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0b0e15;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
